{% extends "DACoreBundle::layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <h3>Page d'accueil de notre site</h3>

    <hr>
    <article>
        {% for advert in listAdverts %}
            <h4><a href="{{ path('da_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
            </h4>
            <p>
                {{ advert.content }}
            </p>
            <p>
                <em>Par {{ advert.author }} le
                <strong>{{ advert.date|date('d/m/Y') }}</strong></em>
            </p>
        {% else %}
            <li>Pas (encore !) d'annonce</li>
        {% endfor %}
    </article>
{% endblock %}
