{% extends "DAPlatformBundle::layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block daplatform_body %}
    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('da_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }}
                le {{ advert.date|date('d/m/Y') }}
                <img style="width: 30px;height: auto;padding-bottom: 5px" src="{{ advert.image.url }}" alt="">
            </li>
        {% else %}
            <li>Pas (encore !) d'annonce</li>
        {% endfor %}
    </ul>
    <div class="text-center">
        {{ knp_pagination_render(listAdverts) }}
    </div>
{% endblock %}